<div class="ui centered grid">
  <div class="two column centered row">
    <div class="column">
      <form
        class="ui form"
        id="login"
        (ngSubmit)="f.form.valid && login()"
        #f="ngForm"
      >
        <div
          class="field"
          [ngClass]="{ error: username.dirty && username.invalid }"
        >
          <label>Username</label>
          <input
            type="text"
            name="username"
            placeholder="username"
            #username="ngModel"
            [(ngModel)]="model.username"
            required
            minlength="4"
            maxlength="20"
          />
          <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <p *ngIf="username.errors.required">
              Name is required.
            </p>
            <p *ngIf="username.errors.minlength">
              Name must be at least 4 characters long.
            </p>
            <p *ngIf="username.errors.maxlength">
              Name must be at max 20 characters long.
            </p>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <input
            type="password"
            name="password"
            placeholder="password"
            [(ngModel)]="model.password"
            required
            #password="ngModel"
          />
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">
              Password is required.
            </p>
          </div>
        </div>
        <button
          class="ui button"
          [ngClass]="{ success: f.valid }"
          type="submit"
        >
          Submit
        </button>
      </form>
      <div class="ui compact error message" *ngIf="f.invalid && f.submitted">
        <p>Please fill out or correct the remaining fields</p>
      </div>
    </div>
  </div>
</div>
