<div class="ui secondary pointing menu">
  <a class="ui item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  <a
    class="ui item"
    routerLink="/profile"
    *ngIf="(isLoggedIn$ | async) == true"
    routerLinkActive="active"
  >
    Profile
  </a>
  <div class="right menu">
    <a
      class="ui item"
      routerLink="/login"
      *ngIf="(isLoggedIn$ | async) == false"
      routerLinkActive="active"
    >
      Login
    </a>
    <a
      class="ui item"
      routerLink="/register"
      *ngIf="(isLoggedIn$ | async) == false"
      routerLinkActive="active"
    >
      Register
    </a>
    <a
      class="ui item"
      (click)="logout()"
      *ngIf="(isLoggedIn$ | async) == true"
      routerLinkActive="active"
      >Logout</a
    >
    <a
      class="ui item"
      routerLink="/admin"
      *ngIf="(isLoggedIn$ | async) == true && (role$ | async) === 'ADMIN'"
      routerLinkActive="active"
      >Admin</a
    >
  </div>
</div>
